<div class="row">
  <div class="span12">
    <div class="header">
      <h2><%= t '.search_meetings' %></h2>
      <%= form_tag search_meetings_path, class: "form-inline", method: :get do %>
        <b><%= t('.search_from_name') %></b>
        <%= search_field_tag :name, nil, class: "input-large search-query", placeholder: t('.name') %>
        <%= submit_tag t('.search'), class: "btn" %>
      <% end %>
      <div class="search-language">
        <b><%= t('.search_from_study_language') %></b><br>
        <% AVAILABLE_LANGUAGES.each do |locale, language| %>
          <%= link_to t("language.#{locale}"), search_meetings_path(teach_language: locale), class: "btn btn-small btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span12">
    <%= link_to t('.order_by_date'), meetings_path %> /
    <%= link_to t('.order_by_updated'), created_meetings_path %> /
    <%= link_to t('.today_meetings'), today_meetings_path %>
  </div>
  <%= render :partial => 'meeting', collection: @meetings %>
</div>
