<% content_for :javascript do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "googlemaps" %>
<% end %>
<div class="span4">
  <%= render partial: "user", locals: { user: @meeting.user, status: t(".owner") } %>
</div>
<div class="span4">
  <div class="well">
    <b><%= t ".date" %></b>
    <p><%= @meeting.date %></p>
    <b><%= t ".time" %></b>
    <p><%= @meeting.render_time %></p>
    <b><%= t ".teach_language" %></b>
    <p><%= t @meeting.teach_language, scope: "language" %></p>
    <b><%= t ".study_language" %></b>
    <p><%= t @meeting.study_language, scope: "language" %></p>
    <b><%= t ".location" %></b>
    <p><%= @meeting.location %></p>
    <p id="address"><%= @meeting.address %></p>
    <p id="google-map" style="width:250px;height:250px"></p>
  </div>
</div>
<div class="span4">
  <% if current_user %>
    <% if @meeting.success %>
      <%= render partial: "user", locals: { user: @meeting.guest_user, status: t(".guest") } %>
    <% else %>
      <% unless @meeting.is_past? %>
        <p>
          <%= t ".the_number_of_application" %>
          <%= @meeting.appointments.count %>
        </p>
      <% end %>
      <% if current_user == @meeting.user %>
        <% @meeting.appointments.each do |appointment| %>
          <%= form_tag accept_meeting_appointment_path(appointment.meeting.id, appointment), class: "form-inline", method: :put do %>
            <%= link_to appointment.sender.name, "/#{appointment.sender.profile_url}" %>
            <%= appointment.message %>
            <%= submit_tag t('.accept'), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user.id != @meeting.user.id && !@meeting.success && @meeting.date >= Date.today %>
      <% if @meeting.appointments.exists?(sender_id: current_user.id) %>
        <%= link_to t(".cancel"), meeting_appointment_path(@meeting),
          method: :delete, confirm: t("are_you_sure"), class: "btn btn-danger" %>
        <% else %>
          <%= link_to t(".study_with"), new_meeting_appointment_path(@meeting), class: "btn btn-primary" %>
        <% end %>
      <% end %>

      <% if current_user.id == @meeting.user.id && @meeting.date > Date.today %>
        <%= link_to t(".edit"), edit_meeting_path(@meeting), class: "btn" %>
        <%= link_to t(".destory"), @meeting, method: :delete, confirm: t('are_you_sure'), class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>
