<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      <!--
      body {
        font-family: font-family: Verdana, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
      }
      h1 {
        font-size: 24px;
        border-bottom: solid 1px #333;
      }
      -->
    </style>
  </head>
  <body>
    <h1><%= t ".welcome_message" %></h1>
    <p><%= t ".body_message" %></p>
    <p>
      <%= t ".new_meeting_message" %><br>
      <%= link_to t(".new_meeting"), url_for(:host => "languageship.com", :controller => "meetings", :action => "new"), target: "_blank" %>
    </p>
    <p>
      <%= t ".search_meetings_message" %><br>
      <%= link_to t(".search_meetings"), url_for(:host => "languageship.com", :controller => "meetings", :action => "index"), target: "_blank" %>
    </p>
    <p>
    </p>
    <p>Copyright © <%= link_to "languageship.com", "http://languageship.com/" %><p>
  </body>
</html>
