<div class="offset2 span6">
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-error alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h2><%= t '.account_setting' %></h2>
    <div class="field">
      <%= f.label :name %>
      <span class="accent">*</span>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :profile_url %>
      <span  class="accent">*</span>
      <br>
      http://languageship.com/ <%= f.text_field :profile_url %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <span class="accent">*
      <%= t ".private" %>
      </span>
      <br>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :native_language %>
      <span class="accent">*</span>
      <br>
      <%= f.select :native_language, available_language_options %>
    </div>
    <div class="field">
      <%= f.label :learn_language %>
      <span class="accent">*</span>
      <br>
      <%= f.select :learn_language, available_language_options %>
    </div>
    <div class="field">
      <%= f.label :message %><br>
      <%= f.text_area :message, rows: "4", class: "span4" %>
    </div>
    <div class="actions">
      <%= f.submit t('.submit'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
