<div class="row">
  <div class="span8 offset2">
    <%= form_for([@meeting, @appointment]) do |f| %>
      <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h2><%= t '.new_appointment' %></h2>
      <div class="clearfix">
        <div class="meeting span5">
          <%= image_tag "https://graph.facebook.com/#{@meeting.user.uid}/picture?type=normal" %>
          <ul>
            <li><%= t '.owner' %>：<%= link_to @meeting.user.name, "/#{@meeting.user.profile_url}" %></li>
            <li><%= t '.date' %>：<%= @meeting.date %></li>
            <li><%= t '.time' %>： <%= @meeting.render_time %></li>
            <li><%= t '.location' %>： <%= @meeting.location %></li>
            <li><%= t '.address' %>： <%= @meeting.address %></li>
          </ul>
        </div>
      </div>
      <%= f.hidden_field :sender_id, value: current_user.id %>
      <%= f.hidden_field :recipient_id, value: @meeting.user.id %>
      <div class="field">
        <%= f.label :message %>
        <%= f.text_area :message, rows: "4", class: "span5" %>
      </div>
      <div class="actions">
        <%= f.submit "申し込む", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
